<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Invoice Example</title>
    <style>
        {
            box-sizing: border-box;
        }

        /* Set additional styling options for the columns*/
        .column {
            float: right;
            width: 50%;
        }

        .col {
            float: left;
            width: 30%;
        }

        .colm {
            float: right;
            width: 30%;
        }

        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        .headingStyle {
            color: #1a3c8b;
            text-align: center;
        }

        .border {
            border-top: 2px solid;
            border-width: 2px;
        }

        .padd {
            padding-left: 50px;
            padding-right: 50px;
            padding-bottom: 50px;
        }

        .table {
            width: 100%;
        }

        table,
        th,
        td {
            border: 1px solid black;
        }

        th,
        td {
            padding: 10px;
        }
    </style>
</head>

<body>
    <div class="padd">
    <h3 class="headingStyle"><img src="http://192.168.29.227:9000/logo.png" width="150"></h3>
        <div class="row">
            <div class="col">
                <p>
                    <b>{{DoctorData.clinicName}} Clinic</b><br />
                    {{DoctorData.address}}<br />
                    {{DoctorData.services}}<br />
                </p>
            </div>

            <div class="colm">
                <p>
                    <b>DR. {{DoctorData.Name}}</b><br />
                    Mobile No:{{DoctorData.Mobile}}<br />
                    {{DoctorData.degree}}<br />
                    Date:{{DoctorData.Date}}<br />

                </p>
            </div>

        </div>

        <div class="row border">
            <div class="col">
                <h5>Patient Details:</h5>
                <p>
                    name &nbsp;&nbsp;&nbsp;&nbsp; <b>:</b>&nbsp;{{patientData.Name}}<br />
                    Mobile &nbsp;&nbsp;<b>:</b>&nbsp;{{patientData.Mobile}}<br />
                    Gender &nbsp;&nbsp;<b>:</b>&nbsp;{{patientData.Gender}}<br />
                </p>
            </div>
           
            <div class="colm">
                <h5>Vital Sign:</h5>
                <p>
                    BMI   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>:</b>&nbsp; {{vitalSign.BMI}}<br />
                    Age   &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;<b>:</b>&nbsp; {{vitalSign.age}}<br />
                    BP   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>:</b>&nbsp; {{vitalSign.bp}}<br />
                    Pulse   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>:</b>&nbsp; {{vitalSign.pulse}}<br />
                    Temp  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>:</b>&nbsp; {{vitalSign.temp}}<br />
                    Height  &nbsp;&nbsp;&nbsp;&nbsp;<b>:</b>&nbsp; {{vitalSign.height}}<br />
                    Weight  &nbsp;&nbsp;&nbsp;&nbsp;<b>:</b>&nbsp; {{vitalSign.weight}}<br />
                </p>
            </div>
        </div>

        <div class="row">
            <table class="table">
                <h4>Rx. Medicines.</h4>
                <tr>
                    <th>Sr. no</th>
                    <th>Medicine Name</th>
                    <th>Take</th>
                    <th>Duration</th>
                    <th>Slots</th>
                </tr>

                {{#each medicineList.medicineList}}
                <tr>
                    <td>1</td>
                    <td>{{this.medicineName}}</td>
                    <td>{{this.timing}}</td>
                    <td>{{this.days}}</td>
                    <td>{{#each this.frequency}}{{this.schedule}},{{/each}}</td>
                </tr>

                {{/each}}
            </table>
        </div>

        <div class="row ">
            <h4>Lab Test</h4>
            {{#each labtestList.testList}}
            <p>{{this.test_name}}</p><br />
            {{/each}}
        </div>

        <div class="row border">
            <div class="colm">
                <p>
                    <b>DR. {{DoctorData.Name}}</b><br />
                    {{DoctorData.degree}}<br />
                    Mobile No:{{DoctorData.Mobile}}<br />
                </p>
            </div>

        </div>
    </div>
</body>

</html>